@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #8c8c8c;
    color: #333;
    font-family: 'Noto Sans', sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #3e4144;
    color: #fff;
    padding: 20px;
}

.menus {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: auto;
}

.logo>img {
    width: 42%;
    border-radius: 50% 0 50% 0;

}

header h1 {
    margin: 0;
    font-size: 40px;
    font-weight: bold;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header li {
    display: inline-block;
    margin-left: 20px;
    text-align: center;
}

header a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

header a:hover {
    color: #ff6f61;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.busca {
    width: 10px auto;
    height: 20px;
    display: flex;
    justify-content: space-between;
}

.destaque {
    padding: 40px;
    text-align: center;
}

.destaque h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.produto {
    border-radius: 10px;
    display: inline-block;
    width: 300px;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.produto:hover {
    transform: translateY(-5px);
}

.produto img {
    width: 100%;
    height: auto;
}

.produto h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
}

.produto p {
    font-size: 20px;
    margin: 10px;
}

.produto button {
    background-color: #ff6f61;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.produto button:hover {
    background-color: #fff;
    color: #ff6f61;
}

.categorias {
    background-color: #333;
    color: #fff;
    padding: 40px;
    text-align: center;
}

.categorias h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.categorias ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.categorias li {
    display: inline-block;
    margin: 10px;
}

.categorias a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.categorias a:hover {
    color: #ff6f61;
}


footer {
    text-align: center;
    background-color: #333;
    color: #8c8c8c;
    padding: 25px;
}

.i>input {
    border-radius: 10px;

}

.social-icons {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.social-icons a {
    margin: 10px 10px;
    color: #8c8c8c;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #ff6f61;
}

.product-catalog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.product-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-image img {
    width: 500px;
    height: 500px;
    border: 5px solid #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.thumbnail-images img {
    width: 90px;
    height: 90px;
    margin: 10px;
    cursor: pointer;
    border: 3px solid transparent;
    transition: all 0.3s ease-in-out;
}

.thumbnail-images img:hover {
    border: 3px solid #e74c3c;
    transform: scale(1.1);
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.product-info h2 {
    margin-top: 0;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}



.product-info .product-description {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
}

.product-info ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.product-info li {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
}

.buy-button {
    display: block;
    margin-top: 30px;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 700;
    background-color: #ff6f61;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.buy-button:hover {
    background-color: #fff;
    color: #ff6f61;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background-color: #8c8c8c;
    display: flex;
    justify-content: center;
    align-items: center;

}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    
}

.left-login > h1{
    font-size: 3vw;
    color: #2f2841;
}

.left-login-imagem{
    width: 35vw;
}


.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #4d4c4f;
    border-radius: 20px;
    box-shadow: 0 10px 40px #00000053;
}

.card-login > h1{
    color: #9da19f;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #694848;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0 10px 40px #00000053;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: #f0ffff94;
}

.btn-login{
    width: 100%;
    padding: 16px 0;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #4e4b51;
    background-color: #8c8c8c;
    cursor: pointer;
    box-shadow: 0 10px 40px -12px#676a6952;
}

.btn-login:hover{
    background-color: #694848;
    color: #fff;
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width:600px){
    .main-login{
        flex-direction: column;
    }   
    .left-login > h1{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .reight-login{
        width: 100%;
        height: auto;
    }
    .left-login-imagem{
        width: 50vh;
    }
}